<form action="/users/new" method="POST">

  Email:<input type="text" name="email" id="email" value="">

  <br></br>

  Create Password:<input type="text" name="password" id="password" value="">

  <br></br>

  First Name:<input type="text" name="first_name" id="first_name" value="">

  <br></br>

  Last Name:<input type="text" name="last_name" id="last_name" value="">

  <br></br>

  Date Of Birth:<input type="text" name="birthday" id="birthday" value="">

  <br></br>


  <input type="submit" value="Sign Up">
</form>
