
<%= "#{@user.first_name} #{@user.last_name}" %><br>
<br>
<%= "#{@post.content}" %>
<br>

<form action="/posts/edit/<%="#{@post.id}"%>" method="get">
  <input type="submit" name="profile" value="Edit">
</form><br>

<p>-----------------------------------------------</p>

<form action="/users/profile" method="get">
  <input type="submit" name="profile" value="Home">
</form><br>
<br>
<form action="/posts/feed" method="get">
  <input type="submit" name="profile" value="Feed">
</form><br>
